In [23]:
from pyincore import IncoreClient
from pyincore.analyses.mlenabledcgeslc import MlEnabledCgeSlc
from pyincore import globals as pyglobals

# Supress default INFO logging

import logging

logger = pyglobals.LOGGER
logger.setLevel(logging.CRITICAL)

In [24]:
client = IncoreClient()

Connection successful to IN-CORE services. pyIncore version detected: 1.18.0

In [25]:
# 7 region capital shocks is required for the analysis
sector_shocks = "65f9f692d0fdf1154b761a81"  # This is the aggregation of building functionality states to capital shocks per sector.

In [26]:
# Create Machine Learning Enabled CGE Salt Lake City Model
ml_enabled_cge = MlEnabledCgeSlc(client)

In [27]:
# Set analysis input datasets
ml_enabled_cge.load_remote_input_dataset("sector_shocks", sector_shocks)

# Optional parameters for file naming
ml_enabled_cge.set_parameter("result_name", "slc_7_region")

Dataset already exists locally. Reading from local cached zip.
Unzipped folder found in the local cache. Reading from it...

True

In [28]:
# Run Salt Lake City CGE model analysis
ml_enabled_cge.run_analysis()

True

In [29]:
domestic_supply = ml_enabled_cge.get_output_dataset("domestic-supply")
ds = domestic_supply.get_dataframe_from_csv()
# Display top 6 rows of output data
ds.head(6)

      Sectors          DS0          DSL
0  ART_ACC_R1   165.756625   159.048997
1  ART_ACC_R2  1222.948092  1211.386575
2  ART_ACC_R3   553.595780   548.851402
3  ART_ACC_R4   435.997382   434.026322
4  ART_ACC_R5   844.980799   843.617973
5  ART_ACC_R6   452.257643   450.846320

In [30]:
gross_income = ml_enabled_cge.get_output_dataset("gross-income")
gi = gross_income.get_dataframe_from_csv()
gi.head()

  Household Group           Y0           YL
0          HH1_R1    68.369010    67.798491
1          HH2_R1   270.009321   265.881472
2          HH3_R1   497.378828   491.492916
3          HH4_R1  1106.509366  1084.956929
4          HH1_R2   165.887420   164.729841

In [31]:
pre_factor_demand = ml_enabled_cge.get_output_dataset("pre-disaster-factor-demand")
pre_fd = pre_factor_demand.get_dataframe_from_csv()
pre_fd.head()

,Labor Group,UTIL_R1,CONS_R1,MANU_R1,COMMER_R1,EDU_R1,HEALTH_R1,ART_ACC_R1,RELIG_R1,UTIL_R2,...,HEALTH_R7,ART_ACC_R7,RELIG_R7,AG_MI_R1,AG_MI_R2,AG_MI_R3,AG_MI_R4,AG_MI_R5,AG_MI_R6,AG_MI_R7
0,L1,-1.0,297.0,1361.0,5621.0,647.0,336.0,2099.0,188.0,-1.0,...,124.0,1246.0,61.0,100.0,30.0,176.0,23.0,-1.0,8.0,704.0
1,L2,-1.0,789.0,5888.0,10525.0,892.0,678.0,1193.0,165.0,-1.0,...,828.0,346.0,49.0,-1.0,11.0,103.0,13.0,83.0,-1.0,-1.0
2,L3,614.0,594.0,4984.0,13657.0,414.0,279.0,184.0,158.0,367.0,...,1498.0,240.0,18.0,110.0,-1.0,231.0,-1.0,104.0,114.0,169.0
3,L4,383.0,220.0,549.0,1873.0,214.0,116.0,22.0,81.0,-1.0,...,518.0,-1.0,-1.0,50.0,27.0,142.0,16.0,239.0,10.0,232.0

In [32]:
post_factor_demand = ml_enabled_cge.get_output_dataset("post-disaster-factor-demand")
pos_fd = post_factor_demand.get_dataframe_from_csv()
pos_fd.head()

,Labor Group,UTIL_R1,CONS_R1,MANU_R1,COMMER_R1,EDU_R1,HEALTH_R1,ART_ACC_R1,RELIG_R1,UTIL_R2,...,HEALTH_R7,ART_ACC_R7,RELIG_R7,AG_MI_R1,AG_MI_R2,AG_MI_R3,AG_MI_R4,AG_MI_R5,AG_MI_R6,AG_MI_R7
0,L1,-1.000000,295.328432,1358.865581,5599.459640,643.532464,333.833752,2085.254018,183.520152,-1.000000,...,123.350754,1243.072634,60.058791,100.0,30.0,176.0,23.0,-1.0,8.0,704.0
1,L2,-1.000000,784.399302,5873.744645,10472.089940,886.373556,673.265009,1183.707685,160.836477,-1.000000,...,825.721992,344.697386,48.181050,-1.0,11.0,103.0,13.0,83.0,-1.0,-1.0
2,L3,613.028461,590.084455,4969.328572,13581.438203,410.919772,276.640340,182.187269,153.911579,367.456345,...,1493.962262,238.874951,17.565374,110.0,-1.0,231.0,-1.0,104.0,114.0,169.0
3,L4,382.973455,218.601057,547.861464,1865.457514,212.547601,115.012826,21.656448,78.885237,-1.000000,...,516.142618,-1.000000,-1.000000,50.0,27.0,142.0,16.0,239.0,10.0,232.0

In [33]:
household_count = ml_enabled_cge.get_output_dataset("household-count")
hc = household_count.get_dataframe_from_csv()
hc.head()

  Household Group      HH0           HHL
0          HH1_R1   4245.0   4242.787250
1          HH2_R1   6837.0   6823.313461
2          HH3_R1   8311.0   8282.573702
3          HH4_R1   9554.0   9518.721683
4          HH1_R2  14563.0  14555.728265