In [1]:
from pyincore import IncoreClient
from pyincore.analyses.mlenabledcgegalvestonisland import MlEnabledCgeGalvestonIsland
from pyincore import globals as pyglobals

# Supress default INFO logging

import logging

logger = pyglobals.LOGGER
logger.setLevel(logging.CRITICAL)

In [2]:
client = IncoreClient()

Connection successful to IN-CORE services. pyIncore version detected: 1.20.1

In [3]:
sector_shocks = "643adeb634810d74880e7bd5"  # This is the aggregation of building functionality states to capital shocks per sector.

In [4]:
# Create Machine Learning Enabled CGE Salt Lake City Model
ml_enabled_cge = MlEnabledCgeGalvestonIsland(client)

In [5]:
# Set analysis input datasets
ml_enabled_cge.load_remote_input_dataset("sector_shocks", sector_shocks)

# Optional parameters for file naming
ml_enabled_cge.set_parameter("result_name", "test_galveston_mlcge_result")

Dataset already exists locally. Reading from local cached zip.
Unzipped folder found in the local cache. Reading from it...

True

In [6]:
# Run Galveston city CGE model analysis
ml_enabled_cge.run_analysis()

True

In [7]:
domestic_supply = ml_enabled_cge.get_output_dataset("domestic-supply")
ds = domestic_supply.get_dataframe_from_csv()
# Display top 6 rows of output data
ds.head(6)

   Sectors         DS0         DSL
0   IAGMIN   26.064448   25.401881
1    IUTIL   84.813701   81.456728
2    ICONS  291.795770  268.448117
3    IMANU  440.355302  425.729920
4   IWHOLE   64.653385   58.659894
5  IRETAIL  356.863762  300.725250

In [8]:
gross_income = ml_enabled_cge.get_output_dataset("gross-income")
gi = gross_income.get_dataframe_from_csv()
gi.head()

  Household Group          Y0          YL
0           HH1WI    4.182551    4.025747
1           HH2WI   27.755117   25.159567
2           HH3WI  132.402541  119.902432
3           HH4WI  528.592326  467.634796
4           HH5WI  661.228690  551.756431

In [9]:
pre_factor_demand = ml_enabled_cge.get_output_dataset("pre-disaster-factor-demand")
pre_fd = pre_factor_demand.get_dataframe_from_csv()
pre_fd.head()

,Labor Group,IAGMIN_W,IAGMIN_B,IAGMIN_H,IUTIL_W,IUTIL_B,IUTIL_H,ICONS_W,ICONS_B,ICONS_H,...,IEDU_H,IHEALTH_W,IHEALTH_B,IHEALTH_H,IART_W,IART_B,IART_H,IACCO_W,IACCO_B,IACCO_H
0,IL1,7.0,4.0,4.0,-1.0,-1.0,5.0,85.0,-1.0,34.0,...,738.0,147.0,132.0,125.0,424.0,-1.0,449.0,1947.0,379.0,1295.0
1,IL2,-1.0,-1.0,9.0,3.0,-1.0,65.0,121.0,22.0,127.0,...,561.0,256.0,306.0,161.0,179.0,115.0,25.0,350.0,420.0,1193.0
2,IL3,39.0,-1.0,14.0,40.0,11.0,26.0,131.0,7.0,237.0,...,1325.0,825.0,206.0,222.0,126.0,-1.0,98.0,352.0,-1.0,55.0
3,IL4,49.0,7.0,10.0,27.0,-1.0,-1.0,97.0,2.0,99.0,...,-1.0,297.0,46.0,119.0,-1.0,-1.0,-1.0,8.0,-1.0,-1.0

In [10]:
post_factor_demand = ml_enabled_cge.get_output_dataset("post-disaster-factor-demand")
pos_fd = post_factor_demand.get_dataframe_from_csv()
pos_fd.head()

,Labor Group,IAGMIN_W,IAGMIN_B,IAGMIN_H,IUTIL_W,IUTIL_B,IUTIL_H,ICONS_W,ICONS_B,ICONS_H,...,IEDU_H,IHEALTH_W,IHEALTH_B,IHEALTH_H,IART_W,IART_B,IART_H,IACCO_W,IACCO_B,IACCO_H
0,IL1,6.919477,3.954415,3.951989,-1.000000,-1.000000,5.135294,83.409028,-1.000000,33.312583,...,721.725456,143.751621,128.954759,122.027959,414.938125,-1.000000,438.512610,1875.163384,364.701988,1244.799476
1,IL2,-1.000000,-1.000000,8.889342,3.095229,-1.000000,65.934002,118.297510,21.532137,124.602386,...,549.652359,249.358478,298.054837,157.412999,174.741813,112.325403,24.593196,335.964388,403.198076,1148.886593
2,IL3,38.204932,-1.000000,13.806229,40.399974,11.125999,26.405350,127.779557,6.814676,232.082152,...,1295.873104,801.188003,198.991151,216.653146,122.783913,-1.000000,95.952541,337.092828,-1.000000,52.991524
3,IL4,48.072902,6.844827,9.809598,27.387054,-1.000000,-1.000000,94.886605,1.946597,96.398064,...,-1.000000,289.387079,44.472489,115.507145,-1.000000,-1.000000,-1.000000,7.740084,-1.000000,-1.000000

In [11]:
household_count = ml_enabled_cge.get_output_dataset("household-count")
hc = household_count.get_dataframe_from_csv()
hc.head()

  Household Group     HH0          HHL
0           HH1WI   655.0   650.860310
1           HH2WI  1195.0  1182.226953
2           HH3WI  2618.0  2585.294201
3           HH4WI  4114.0  4044.787173
4           HH5WI  3321.0  3216.563992