In [1]:
from pyincore import IncoreClient, globals as pyglobals
from pyincore.analyses.mlenabledcgejoplin import MlEnabledCgeJoplin

from pyincore import globals as pyglobals

# Supress default INFO logging

import logging

logger = pyglobals.LOGGER
logger.setLevel(logging.CRITICAL)

In [2]:
client = IncoreClient()

Connection successful to IN-CORE services. pyIncore version detected: 1.19.0

In [3]:
# Sector shocks from the new Joplin Building einventory
sector_shocks = "6706b903e905f3105421bfdf"

In [4]:
# Create Machine Learning Enabled CGE Joplin Model
mlcgejoplin = MlEnabledCgeJoplin(client)

In [5]:
# Set analysis input datasets
mlcgejoplin.load_remote_input_dataset("sector_shocks", sector_shocks)

# Optional parameters for file naming
mlcgejoplin.set_parameter("result_name", "test_joplin_mlcge_result")

True

In [6]:
# Run Joplin CGE model analysis
mlcgejoplin.run_analysis()

True

In [7]:
domestic_supply = mlcgejoplin.get_output_dataset("domestic-supply")
ds = domestic_supply.get_dataframe_from_csv()
# Display top 6 rows of output data
ds.head(6)

     Sectors         DS0         DSL
0     AG_MIN    2.233851    2.115940
1  UTIL_CONS   90.290476   78.769336
2       MANU  403.079552  379.541172
3      WHOLE  109.810310  100.189559
4     RETAIL  415.554335  391.812303
5      TRANS  195.150137  191.398167

In [8]:
gross_income = mlcgejoplin.get_output_dataset("gross-income")
gi = gross_income.get_dataframe_from_csv()
gi.head()

  Household Group          Y0          YL
0             HH1   12.128133   12.219010
1             HH2   55.340669   53.288001
2             HH3  260.065807  250.306049
3             HH4  312.703538  302.477296
4             HH5  230.292728  225.467172

In [9]:
pre_factor_demand = mlcgejoplin.get_output_dataset("pre-disaster-factor-demand")
pre_fd = pre_factor_demand.get_dataframe_from_csv()
pre_fd.head()

,Labor Group,AG_MIN,UTIL_CONS,MANU,WHOLE,RETAIL,TRANS,INFO,FINANCE,REALE,PROF_MAN,ADMIN_EDU,HEALTH,ART,ACCO,OTHER,FED,STATE,COUNTY
0,L1,1.0,234.0,1023.0,375.0,1584.0,883.0,33.0,158.0,8.0,204.0,2382.0,1782.0,45.0,2736.0,596.0,1.0,6.0,23.0
1,L2,1.0,505.0,1899.0,448.0,2644.0,402.0,177.0,569.0,253.0,539.0,2163.0,4999.0,125.0,1247.0,425.0,15.0,61.0,249.0
2,L3,9.0,354.0,2467.0,814.0,1325.0,1598.0,151.0,147.0,62.0,1278.0,615.0,2361.0,166.0,127.0,127.0,4.0,18.0,73.0
3,L4,1.0,79.0,538.0,-1.0,615.0,245.0,12.0,-1.0,17.0,-1.0,172.0,824.0,-1.0,-1.0,4.0,-1.0,-1.0,-1.0

In [10]:
post_factor_demand = mlcgejoplin.get_output_dataset("post-disaster-factor-demand")
pos_fd = post_factor_demand.get_dataframe_from_csv()
pos_fd.head()

,Labor Group,AG_MIN,UTIL_CONS,MANU,WHOLE,RETAIL,TRANS,INFO,FINANCE,REALE,PROF_MAN,ADMIN_EDU,HEALTH,ART,ACCO,OTHER,FED,STATE,COUNTY
0,L1,0.963198,212.881663,1014.199361,369.603859,1551.727581,875.637102,31.810105,148.367999,7.497354,201.307038,2340.566584,1760.289501,41.794788,2630.745249,563.059166,0.975787,5.864442,22.541280
1,L2,0.961808,458.247949,1877.815594,440.439925,2583.616603,397.608252,170.611461,533.043612,239.717699,530.583339,2119.873925,4925.343274,115.635693,1195.905070,400.592901,14.703349,59.498755,243.227744
2,L3,8.772864,320.437828,2433.431697,798.310961,1291.545014,1576.734337,145.179908,137.356577,58.586380,1254.955803,601.256845,2320.469288,153.163294,121.506667,119.394363,3.888788,17.484903,71.042039
3,L4,0.959197,71.516873,530.857702,-1.000000,599.638906,241.779441,11.464508,-1.000000,15.981553,-1.000000,168.225150,810.058297,-1.000000,-1.000000,3.753971,-1.000000,-1.000000,-1.000000

In [11]:
household_count = mlcgejoplin.get_output_dataset("household-count")
hc = household_count.get_dataframe_from_csv()
hc.head()

  Household Group      HH0           HHL
0             HH1   4126.0   4123.484509
1             HH2   4977.0   4943.647474
2             HH3  11487.0  11367.423014
3             HH4   6847.0   6746.360290
4             HH5   2827.0   2797.164588